{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "parser": "solidity-parse",
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "trailingComma": "es5",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": false
      }
    }
  ]
}
